<!--
-->
<launch>
  
  # Bag filename
  <arg name="bag_file" />
  
  # Use simulation time for TFs
  <param name="use_sim_time" value="true" />

  # Bag file
  <node name="bag_player" type="play" pkg="rosbag" args="$(arg bag_file) -s 0 -r 1.0 -l" />
  
  # Launch MCL3D
  <node name="mcl3d_node" type="mcl3d_node" pkg="mcl3d" output="screen" >
    <param name="rate" value="10.0" />
    <param name="in_cloud" value="/os1_cloud_node/points" />
    <param name="base_frame_id" value="base_link" />
    <param name="odom_frame_id" value="odom" />
    <param name="global_frame_id" value="map" />

    <param name="map_path" value="$(find mcl3d)/launch/basement.bt" />
    <param name="publish_point_cloud" value="true" />
    <param name="sensor_dev" value="0.05" />
    <param name="cloud_voxel_size" value="0.1"/>
    <param name="publish_grid_slice" value="0.0"/>
    
    <param name="min_particles" value="300" />
    <param name="max_particles" value="500" />
    
    <param name="odom_x_mod" value="0.05" />
    <param name="odom_y_mod" value="0.05" />
    <param name="odom_z_mod" value="0.01" />
    <param name="odom_a_mod" value="0.05" />
    
    <param name="resample_interval" value="0" />
    
    <param name="update_min_d" value="0.2" />
    <param name="update_min_a" value="0.1" />
    
    <param name="initial_x_dev" value="0.2" />
    <param name="initial_y_dev" value="0.2" />
    <param name="initial_z_dev" value="0.001" />
    <param name="initial_a_dev" value="0.2" />
    <param name="initial_z_offset" value="0.5" />
    
    <param name="use_range_only" value="true" />
    <param name="in_range" value="/localino_node/anchor/range" />
    <param name="range_only_tag" value="0x1436393435260290" />
    <param name="range_only_dev" value="0.1" />
 
  </node>

</launch>	
